body {
	background: #FAEBD7 url('https://i.pinimg.com/originals/c8/ab/d5/c8abd5490cb7a135e63f7efdcc85fcb5.jpg');
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
	font-family: 'Space Mono', monospace;

}


/* Header styles */
header { 
	background-color: #000;
	color: BlanchedAlmond;
	min-height: 100px;
	margin-top: 60px;
	
	
}

header h1 {
	padding: 40px 60px;
	font-family: 'Space Mono', monospace;
	font-size: 30px;
}


/* Nav styles */
nav { background-color: #333; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: BlanchedAlmond; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: rgba(204,186,47,80);
	display: grid;
	grid-template-columns: 60% 40%;
	font-family: 'Space Mono', monospace;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
