@font-face {
    font-family: 'bluunext-bold';
    src url:url('bluunext-bold.ttf') format('truetype'),
        font-weight: normal;
    font-style: normal;}

body {

	background-color: #000;
}

a {
	text-decoration: none;
	color: white;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 100%;
	margin: center;
	font-family: 'Space Mono', monospace;

}


/* Header styles */
header { 
	
	
	
	
}

header h1 {
	padding: 40px 60px;
	font-family: 'bluunext-bold', normal;
	font-size: 45px;
}


/* Nav styles */
nav { background-color: #000; }
nav ul { 
	display: flex;
	justify-content: center;

}
nav li { padding: 20px 10px; }
nav a { color: white; }
nav a:hover { color: white; }


/* Main styles */
main { 
    
	min-height: 420px;
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	line-height: 150%;

}

section {
	padding: 100px 30px;
}


}


section ul, aside ul {
	list-style-type: circle;
	margin-top: 100px; 
	margin-left: 30px;
	color: white;
}


.middle {position:fixed;
left: 33%;
color: white;
max-width: 375px;}




aside {
	padding: 100px 150px;
	position: fixed;
	left: 70%;
	color: white;
}


/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
	min-height: 50px; 
	position: fixed;
	left: 0;
	bottom: 0;


 }
 footer p { padding: 20px; }
